{% load static %}
<html>
<head>
<title>Morris / UI Kit</title>
<link href='http://fonts.useso.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
</head>
<link href="../static/cutelogin/icons/css/font-awesome.min.css" rel="stylesheet">
<link href="../static/cutelogin/style.css" rel="stylesheet">
<body>


<div class="col">

    <div class="ui-box form login">
        <form   autocomplete="off">
            <div class="form-row">
                <input name="ui-username" id="ui-username" type="text" placeholder="Username" autocomplete="off" value="">
                <i class="fa fa-user"></i>
            </div>
            <div class="form-row">
                <input name="ui-password" id="ui-password" type="password" placeholder="Password" autocomplete="off" value="">
                <i class="fa fa-key"></i>
            </div>
            <div class="form-row">
                <button id="login" class="btn" type="submit">Login</button>
            </div>
        </form>
    </div>

</div>

<a class="morris"></a>

<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
<script type="text/javascript">

</script>

</body>
</html>